annotated-types
anyio
argon2-cffi
argon2-cffi-bindings
asyncpg
cffi
click
dnspython
email-validator
fastapi
greenlet
h11
idna
mypy_extensions
packaging
pathspec
platformdirs
pwdlib
pycparser
pydantic
pydantic-settings
pydantic_core
PyJWT
python-dotenv
python-multipart
pytokens
sniffio
SQLAlchemy
sqlmodel
starlette
typing-inspection
typing_extensions
uvicorn
gunicorn
supabase