
:root {
  --primary-color: #f5c78e; 
  --accent-color: #f39233;
  --button-clicked:#d68600;
  --white-color: #ffffff;
  --text-color: #333;
  --grey-color: #E4E6E8;
}

.baner {
  background: var(--primary-color);
  width: 100%;
  min-height: 250px;
  margin: 8px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  text-align: center;
  overflow: hidden;
  position: relative;
}

.baner-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  z-index: 2;
}

.baner p {
  color: var(--white-color);
  font-weight: 800;
  font-size: 24px;
  line-height: 1.2;
  margin: 0;
}

.baner .highlight {
  color: var(--accent-color);
}

.button-link {
  background-color: var(--accent-color);
  color: white;
  text-decoration: none;
  padding: 12px 50px;
  border-radius: 10px;
  font-weight: bold;
  font-size: 18px;
  transition: all 0.2s;
}

.button-link:hover{
  background-color: var(--button-clicked);
}

@media (min-width: 768px) {
  .baner {
    flex-direction: row;
    text-align: center;
    padding: 0;
    justify-content: flex-start;
  }

  .baner-content {
    width: 50%;
    align-items: center;
  }

  .baner-image {
    width: 50%;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    background-image: url('picture.png'); 
    background-size: cover;
    background-position: center;
    opacity: 0.5;
  }
}

.filters-section {
  padding: 16px 0;
  padding-left: 10%;
}

.filter-label {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  background-color: var(--white-color);
  color: var(--text-color);
  border: 1px solid var(--grey-color);
  padding: 6px 20px;
  border-radius: 8px;
  font-size: 15px;
  font-weight: 500;
}
